{% extends 'base.html.twig' %}
{% set title = 'Log in!' %}
{% set class_body = 'form-signin w-100 m-auto' %}

{% block body %}
<form method="post" style="width: 350px; margin: 0 auto;">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="form-floating">
        <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputUsername">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" checked/> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>

    {% if user_accounts_logins is not empty %}
        <p style="margin-top: 50px;">Some username accounts for test <em>(password by default: {{ user_default_password }})</em>:</p>
        <ul>
            {% for username in user_accounts_logins %}
                <li><strong>{{ username }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
